 <nav class="navbar">
            <a href="#home">home</a>
            <a href="#authors">Authors</a>  
            <a href="#featured">featured</a>

            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Genre</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#fiction">Fiction</a>
                  <a href="#scifi">Sci-Fi</a>
                  <a href="#romance">Romance</a>
                </div>
              </div>
                <a href="#reviews">Reviews</a>
            <a href="pre-owned.hbs" target="_blank">Pre-Owned</a>
        </nav>